@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.test {
  // animation: smoothAppear 1s;

  animation: smoothAppear 0.5s ease-in-out 0s 1 reverse forwards;
}

.test1 {
  animation: smoothAppear 1s;

  // animation: smoothAppear 0.5s ease-in-out 0s 1 reverse forwards;
}