.global-wrapper {
  max-width: 640px;
  margin: 0 0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.header-wrapper {
  padding: 0 16px;
  height: 56px;
  min-height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p,
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #2c3131;
  }
}

.pointer {
  cursor: pointer;
}
