// .bottomsheet {
//   div:nth-child(2) {
//     max-width: 640px;
//     margin: 0 auto;
//   }
// }

[data-rsbs-root] {
  [data-rsbs-overlay] {
    max-width: 640px;
    margin: 0 auto;
  }
}

.bottom_sheet_item {
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  cursor: pointer;

  p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.05em;

    color: #000000;
  }
}

.selectbox {
  font-family: 'Pretendard';
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 24px;
  // margin-top: 8px;
  outline: 0;
  appearance: none;
  width: 100%;

  height: 35px;
  background: url(/icons/ic_selectbox_arrow.svg) no-repeat right 0 center;
  background-size: 20px;
  border-radius: 4px;
  outline: 0 none;
  width: 80px;

  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

option {
  padding: 3px 0;
  outline: 0;
  border: 0;
  box-shadow: none;

  height: 32px;
  width: 90px;

  background-color: #fff;
  outline: none;
  border: none;
  box-shadow: none;
  border: none;
}

option:focus {
  background-color: #fff;
  outline: none;
  border: none;
  box-shadow: none;
  border: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.selectbox_svg {
  width: 24px;
  height: 24px !important;

  pointer-events: none;
}
