@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  // height: 100%;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.display_none {
  display: none;
}

.logo {
  padding: 0;
  margin: 0;
  font-family: PyeongChangPeace-Bold, sans-serif !important;
}

.slider_item {
  background-color: aqua;
}

.slick-dots {
  display: flex !important;
  justify-content: flex-end !important;
}

.slick-dots li {
  width: 100px !important;
  margin: 0 !important;
  justify-content: flex-end !important;
  display: flex !important;
}

.slick-active {
  a {
    div {
      div {
        background-color: black !important;
      }
    }
  }
}

.slick-next {
  display: none !important;
}

.slick-prev {
  display: none !important;
}

.webtoon-desc {
  display: block !important;
}

.webtoon-detail-image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.blur {
  filter: blur(3px);
}

.global-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.global-wrapper {
  max-width: 640px;
  margin: 0 0;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.header-wrapper {
  padding: 0 16px;
  height: 56px;
  min-height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  p,
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #2c3131;
  }
}

.pointer {
  cursor: pointer;
}

.color-red {
  color: $red !important;
}
