.slider_bar {
  float: right;
  .item {
    width: 100px;
    height: 4px;
    background-color: #ededed;
    // background-color: black;
  }

  .item--active {
    width: 100px;
    height: 4px;
    background-color: black;
  }
}

.category_filter_container {
  height: 48px;
  display: flex;

  padding: 0 16px;
  justify-content: space-between;

  img {
    height: 20px;
    margin-top: 12px;
  }
}

.mt-32 {
  margin-top: 32px;
}

.bottom_sheet_item {
  margin: 32px 0;

  p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.05em;

    color: #000000;
    margin-left: 16px;
  }
}

.search_container {
  .header {
    height: 56px;
    display: flex;
    align-items: center;

    img {
      margin-left: 16px;
    }
  }

  .search_top_text {
    margin-left: 16px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    /* or 142% */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
  }

  .search_bar {
    display: flex;
    align-items: center;

    width: calc(100% - 32px);
    // width:calc(100% - 20px)
    margin: 0 16px;
    height: 48px;
    border-bottom: 1px solid black;

    input {
      height: 24px;
      outline: 0;
      border: 0;
      width: 100%;
    }

    input::placeholder {
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 171% */

      display: flex;
      align-items: center;
      text-transform: uppercase;

      color: #c4c4c4;
    }
  }

  margin-bottom: 100px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
