@media (min-width: 640px) {
  .main-slider-wrapper {
    .img {
      width: 60% !important;
    }

    .img2 {
      width: 60% !important;
    }
  }
}

.main-slider-wrapper {
  width: 100%;
  height: 340px;
  position: relative;
  overflow: hidden;

  .img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    z-index: 1;
  }

  .img2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    z-index: 2;
  }

  .background_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 40.1%);
    z-index: 5;
  }

  .save_info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 7;

    .text_price {
      /* M/20px/bold */
      justify-content: flex-end;
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 140%;
      /* identical to box height, or 28px */

      display: flex;
      align-items: center;

      /* black/100 */

      color: #2c3131;
    }

    .text_date {
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      display: flex;
      align-items: center;
      text-align: right;

      /* black/100 */

      color: #2c3131;

      display: flex;
      flex-flow: row-reverse;
    }
  }

  .webtoon_title {
  }

  .webtoon_info {
    position: absolute;
    // width: 137px;
    padding: 0 8px;
    height: 28px;
    right: 16px;
    bottom: 17px;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    img {
      width: 12px;
      height: 20px;
      position: static;
      margin-left: 2px;
      margin-right: 7px;
    }

    p.webtoon_title {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      display: flex;
      align-items: center;
      text-align: right;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
}

.main-slider-empty {
  height: 340px;
  position: relative;

  p {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    display: flex;
    align-items: center;

    /* black/100 */

    color: #2c3131;

    padding-top: 75px;
    justify-content: center;
  }

  img {
    position: absolute;
    right: 21.74px;
    top: 171px;
  }
}

p.webtoon-list-title {
  margin-bottom: 4px;
  padding: 24px 16px 0 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #000000;
}

.nav-toggle-wrapper {
  display: flex;
  height: 48px;
  cursor: pointer;
  border-bottom: 1px solid #000000;
  margin-top: 24px;

  .toggled {
    width: 120px;
    height: 48px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: white;
    background: #000000;
  }

  .normal {
    width: 120px;
    height: 48px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    opacity: 0.3;

    color: #000000;
  }
}

.nav-item {
  width: 50%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fee-based-payment-wrapper {
  margin-top: 22px;

  p.title {
    margin-bottom: 4px;
    padding: 24px 16px 0 16px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
  }
}

.bottom-action-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    margin-top: 20px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
  }

  .share_info_text {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;

    /* black/60 */

    color: #a9a9a9;
  }

  .btn_share {
    background: #2c3131;
    width: 100%;
    height: 48px;
    margin: 8px 0 24px 0;
    width: 220px;

    p {
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 20px;

      display: flex;
      align-items: center;

      /* white */

      color: #ffffff;
    }
  }
}
